In [2]:
# Cell 1: Check if everything is working
print("Hello! Welcome to Data Merging Tutorial")
print("âœ… Jupyter is working!")

Hello! Welcome to Data Merging Tutorial
âœ… Jupyter is working!

In [4]:
import pandas as pd  # For data handling
import numpy as np   # For calculations
import os            # For file operations
from pathlib import Path  # For path handling

print("âœ… Libraries imported successfully!")

âœ… Libraries imported successfully!

In [12]:
# List all CSV files in datasets folder
folder_path = "../datasets/"  # Go up one level, then into datasets

files = []
for file in os.listdir(folder_path):
    if file.endswith(".csv"):
        files.append(file)
        print(f"ðŸ“„ Found: {file}")

print(f"\nTotal CSV files found: {len(files)}")

ðŸ“„ Found: dataset1.csv
ðŸ“„ Found: dataset2.csv
ðŸ“„ Found: dataset3.csv
ðŸ“„ Found: dataset4.csv
ðŸ“„ Found: dataset5.csv
ðŸ“„ Found: dataset6.csv
ðŸ“„ Found: dataset7.csv

Total CSV files found: 7

In [14]:
# Load just ONE file first to understand the data
file_name = files[0]  # Takes the first file
file_path = f"../datasets/{file_name}"

# Read the CSV
df1 = pd.read_csv(file_path)

# Show basic info
print(f"ðŸ“Š File: {file_name}")
print(f"Rows: {df1.shape[0]}, Columns: {df1.shape[1]}")
print("\nFirst 5 rows:")
display(df1.head())  # Shows the first 5 rows
print("\nColumn names:")
print(list(df1.columns))

ðŸ“Š File: dataset1.csv
Rows: 150, Columns: 23

First 5 rows:

,Name,EMI,Price,Mileage,ENGINE,TRANSMISSION,FUEL TYPE,Price range,Length (mm),Wheelbase (mm),...,Fuel Capacity (L),Height (mm),Ground Clearance (mm),Colors,Seating Capacity,Displacement (cc),Peak Power,Peak Torque,Color Varients,Top_Speed
0,Porsche Macan,"1,18,950",69.98 Lakh,14 kmpl,1984 to 2995 cc,Automatic,Petrol,â‚¹ 69.98 - 85.01 Lakh,4696,2807,...,75,1624,198,"Agate Grey, Black, Carmine Red, Carrara White...",5,1984,251 BHP@5000 RPM,370 NM @1600 RPM,24,254 Km/h
1,Porsche 718,"1,45,262",85.46 Lakh,9 kmpl,1988 to 3995 cc,"Automatic, Manual",Petrol,â‚¹ 85.46 Lakh - 1.64 Crore,4379,2475,...,54,1281,128,"Agate Grey, Black, Carmine Red, Carrara White...",2,1988,295 BHP@6500 RPM,380 NM @1950 RPM,23,275km/h
2,Porsche Cayenne,"2,02,272",1.2 Crore,9 - 40 kmpl,2995 to 3996 cc,Automatic,Petrol,â‚¹ 1.2 - 1.93 Crore,4918,2895,...,75,1696,210,"Biscay Blue, Black, Carrara White, Jet Black ...",5,2995,456 BHP@5250 RPM,700 NM,22,286 Km/h
3,Porsche Cayenne Coupe,"2,24,165",1.32 Crore,10.75 kmpl,2995 to 3996 cc,Automatic,Petrol,â‚¹ 1.32 - 1.98 Crore,4931,2895,...,75,1676,190,"Biskay Blue , Carrara White, Crayon, Dolomite...",4,2995,335 BHP@5300 RPM,450 NM @1340 RPM,18,286 Km/h
4,Porsche Panamera,"2,45,599",1.44 Crore,8-37 kmpl,2894 to 4806 cc,Automatic,Petrol,â‚¹ 1.44 - 2.43 Crore,5049,2950,...,75,1423,133,"Amethyst, Aventurine Green, Burgundy Red, Car...",4,2894,326 BHP@5400 RPM,450 NM @1750 RPM,28,310 Km/h

Column names:
['Name', 'EMI', 'Price', 'Mileage', 'ENGINE', 'TRANSMISSION', 'FUEL TYPE', 'Price range', 'Length (mm)', 'Wheelbase (mm)', 'Boot Space (L)', 'Width (mm)', 'Turning Radius (m)', 'Fuel Capacity (L)', 'Height (mm)', 'Ground Clearance (mm)', 'Colors', 'Seating Capacity', 'Displacement (cc)', 'Peak Power', 'Peak Torque', 'Color Varients', 'Top_Speed']

In [16]:
# Create dictionary to store all datasets
all_data = {}

# Load each CSV file
for file in files:
    try:
        file_path = f"../datasets/{file}"
        df = pd.read_csv(file_path)
        all_data[file] = df
        print(f"âœ… Loaded {file}: {df.shape[0]} rows x {df.shape[1]} columns")
    except Exception as e:
        print(f"Error loading {file}: {e}")

print(f"\nTotal datasets loaded: {len(all_data)}")

âœ… Loaded dataset1.csv: 150 rows x 23 columns
âœ… Loaded dataset2.csv: 10000 rows x 19 columns
âœ… Loaded dataset3.csv: 49 rows x 14 columns
âœ… Loaded dataset4.csv: 203 rows x 16 columns
âœ… Loaded dataset5.csv: 8015 rows x 10 columns
âœ… Loaded dataset6.csv: 1276 rows x 141 columns
âœ… Loaded dataset7.csv: 1994 rows x 147 columns

Total datasets loaded: 7

In [18]:
# Display info about each dataset
for name, df in all_data.items():
    print(f"\n{'='*50}")
    print(f"Dataset: {name}")
    print(f"{'='*50}")
    print(f"Shape: {df.shape}")
    print("Columns:", list(df.columns))
    print("\nFirst 3 rows:")
    display(df.head(3))

==================================================
Dataset: dataset1.csv
==================================================
Shape: (150, 23)
Columns: ['Name', 'EMI', 'Price', 'Mileage', 'ENGINE', 'TRANSMISSION', 'FUEL TYPE', 'Price range', 'Length (mm)', 'Wheelbase (mm)', 'Boot Space (L)', 'Width (mm)', 'Turning Radius (m)', 'Fuel Capacity (L)', 'Height (mm)', 'Ground Clearance (mm)', 'Colors', 'Seating Capacity', 'Displacement (cc)', 'Peak Power', 'Peak Torque', 'Color Varients', 'Top_Speed']

First 3 rows:

,Name,EMI,Price,Mileage,ENGINE,TRANSMISSION,FUEL TYPE,Price range,Length (mm),Wheelbase (mm),...,Fuel Capacity (L),Height (mm),Ground Clearance (mm),Colors,Seating Capacity,Displacement (cc),Peak Power,Peak Torque,Color Varients,Top_Speed
0,Porsche Macan,"1,18,950",69.98 Lakh,14 kmpl,1984 to 2995 cc,Automatic,Petrol,â‚¹ 69.98 - 85.01 Lakh,4696,2807,...,75,1624,198,"Agate Grey, Black, Carmine Red, Carrara White...",5,1984,251 BHP@5000 RPM,370 NM @1600 RPM,24,254 Km/h
1,Porsche 718,"1,45,262",85.46 Lakh,9 kmpl,1988 to 3995 cc,"Automatic, Manual",Petrol,â‚¹ 85.46 Lakh - 1.64 Crore,4379,2475,...,54,1281,128,"Agate Grey, Black, Carmine Red, Carrara White...",2,1988,295 BHP@6500 RPM,380 NM @1950 RPM,23,275km/h
2,Porsche Cayenne,"2,02,272",1.2 Crore,9 - 40 kmpl,2995 to 3996 cc,Automatic,Petrol,â‚¹ 1.2 - 1.93 Crore,4918,2895,...,75,1696,210,"Biscay Blue, Black, Carrara White, Jet Black ...",5,2995,456 BHP@5250 RPM,700 NM,22,286 Km/h

==================================================
Dataset: dataset2.csv
==================================================
Shape: (10000, 19)
Columns: ['Car_ID', 'Brand', 'Model', 'Year', 'Fuel_Type', 'Transmission', 'Price', 'Mileage', 'Engine_CC', 'Seating_Capacity', 'Service_Cost', 'Color', 'Owner_Type', 'State', 'Insurance_Status', 'Manufacturing_Plant', 'Number_of_Repairs', 'Previous_Accidents', 'Body_Type']

First 3 rows:

,Car_ID,Brand,Model,Year,Fuel_Type,Transmission,Price,Mileage,Engine_CC,Seating_Capacity,Service_Cost,Color,Owner_Type,State,Insurance_Status,Manufacturing_Plant,Number_of_Repairs,Previous_Accidents,Body_Type
0,1,Toyota,Innova,2024.0,CNG,Manual,2020000.0,27.3,800.0,4.0,24100.0,Green,Second,Tamil Nadu,Insured,Pune,2.0,4,Sedan
1,2,Kia,EV6,2023.0,Diesel,Manual,1770000.0,16.4,2500.0,7.0,18800.0,Blue,Third,Delhi,Not Insured,Manesar,8.0,4,Convertible
2,3,Maruti Suzuki,Dzire,2016.0,Petrol,Manual,3430000.0,17.6,2000.0,6.0,24700.0,Grey,First,Tamil Nadu,Insured,Surat,2.0,1,Sedan

==================================================
Dataset: dataset3.csv
==================================================
Shape: (49, 14)
Columns: ['web-scraper-order', 'web-scraper-start-url', 'Links', 'Links-href', 'Name', 'Price', 'Mileage', 'Engine', 'Safety', 'Fuel Type', 'Transmission', 'Seating Capacity', 'Pages', 'Pages-href']

First 3 rows:

,web-scraper-order,web-scraper-start-url,Links,Links-href,Name,Price,Mileage,Engine,Safety,Fuel Type,Transmission,Seating Capacity,Pages,Pages-href
0,1706437209-1,https://www.carwale.com/new/best-cars-under-20...,Maruti Suzuki Alto K10,https://www.carwale.com/maruti-suzuki-cars/alt...,Maruti Alto K10,Rs. 3.99 - 5.96 Lakh,24.39 to 33.85 kmpl,998 cc,2 Star (Global NCAP),Petrol & CNG,Manual & Automatic,5 Seater,8.0,https://www.carwale.com/new/best-cars-under-20...
1,1706437211-2,https://www.carwale.com/new/best-cars-under-20...,Maruti Suzuki S-Presso,https://www.carwale.com/maruti-suzuki-cars/s-p...,Maruti S-Presso,Rs. 4.26 - 6.11 Lakh,24.44 to 32.73 kmpl,998 cc,0 Star (Global NCAP),Petrol & CNG,Manual & Automatic,4 & 5 Seater,8.0,https://www.carwale.com/new/best-cars-under-20...
2,1706437214-3,https://www.carwale.com/new/best-cars-under-20...,Renault Kwid,https://www.carwale.com/renault-cars/kwid/,Renault Kwid,Rs. 4.70 - 6.45 Lakh,21.7 to 22 kmpl,999 cc,1 Star (Global NCAP),Petrol,Manual & Automatic,5 Seater,8.0,https://www.carwale.com/new/best-cars-under-20...

==================================================
Dataset: dataset4.csv
==================================================
Shape: (203, 16)
Columns: ['car_name', 'reviews_count', 'fuel_type', 'engine_displacement', 'no_cylinder', 'seating_capacity', 'transmission_type', 'fuel_tank_capacity', 'body_type', 'rating', 'starting_price', 'ending_price', 'max_torque_nm', 'max_torque_rpm', 'max_power_bhp', 'max_power_rp']

First 3 rows:

,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type,rating,starting_price,ending_price,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp
0,Maruti Alto K10,51,Petrol,998,3,5.0,Automatic,27.0,Hatchback,4.5,399000,583000,89.0,3500,65.71,5500
1,Maruti Brezza,86,Petrol,1462,4,5.0,Automatic,48.0,SUV,4.5,799000,1396000,136.8,4400,101.65,6000
2,Mahindra Thar,242,Diesel,2184,4,4.0,Automatic,57.0,SUV,4.5,1353000,1603000,300.0,2800,130.00,3750

==================================================
Dataset: dataset5.csv
==================================================
Shape: (8015, 10)
Columns: ['Unnamed: 0', 'Car Name', 'Year', 'Distance', 'Owner', 'Fuel', 'Location', 'Drive', 'Type', 'Price']

First 3 rows:

,Unnamed: 0,Car Name,Year,Distance,Owner,Fuel,Location,Drive,Type,Price
0,0,Maruti S PRESSO,2022.0,3878,1,PETROL,HR-98,Manual,HatchBack,514000
1,1,Hyundai Xcent,2018.0,32041,1,PETROL,TN-22,Manual,Sedan,674000
2,2,Tata Safari,2021.0,96339,1,DIESEL,TS-08,Automatic,SUV,1952000

==================================================
Dataset: dataset6.csv
==================================================
Shape: (1276, 141)
Columns: ['Unnamed: 0', 'Make', 'Model', 'Variant', 'Ex-Showroom_Price', 'Displacement', 'Cylinders', 'Valves_Per_Cylinder', 'Drivetrain', 'Cylinder_Configuration', 'Emission_Norm', 'Engine_Location', 'Fuel_System', 'Fuel_Tank_Capacity', 'Fuel_Type', 'Height', 'Length', 'Width', 'Body_Type', 'Doors', 'City_Mileage', 'Highway_Mileage', 'ARAI_Certified_Mileage', 'ARAI_Certified_Mileage_for_CNG', 'Kerb_Weight', 'Gears', 'Ground_Clearance', 'Front_Brakes', 'Rear_Brakes', 'Front_Suspension', 'Rear_Suspension', 'Front_Track', 'Rear_Track', 'Front_Tyre_&_Rim', 'Rear_Tyre_&_Rim', 'Power_Steering', 'Power_Windows', 'Power_Seats', 'Keyless_Entry', 'Power', 'Torque', 'Odometer', 'Speedometer', 'Tachometer', 'Tripmeter', 'Seating_Capacity', 'Seats_Material', 'Type', 'Wheelbase', 'Wheels_Size', 'Start_/_Stop_Button', '12v_Power_Outlet', 'Audiosystem', 'Aux-in_Compatibility', 'Average_Fuel_Consumption', 'Basic_Warranty', 'Bluetooth', 'Boot-lid_Opener', 'Boot_Space', 'CD_/_MP3_/_DVD_Player', 'Central_Locking', 'Child_Safety_Locks', 'Clock', 'Cup_Holders', 'Distance_to_Empty', 'Door_Pockets', 'Engine_Malfunction_Light', 'Extended_Warranty', 'FM_Radio', 'Fuel-lid_Opener', 'Fuel_Gauge', 'Handbrake', 'Instrument_Console', 'Low_Fuel_Warning', 'Minimum_Turning_Radius', 'Multifunction_Display', 'Sun_Visor', 'Third_Row_AC_Vents', 'Ventilation_System', 'Auto-Dimming_Rear-View_Mirror', 'Hill_Assist', 'Gear_Indicator', '3_Point_Seat-Belt_in_Middle_Rear_Seat', 'Ambient_Lightning', 'Cargo/Boot_Lights', 'Drive_Modes', 'Engine_Immobilizer', 'High_Speed_Alert_System', 'Lane_Watch_Camera/_Side_Mirror_Camera', 'Passenger_Side_Seat-Belt_Reminder', 'Seat_Back_Pockets', 'Voice_Recognition', 'Walk_Away_Auto_Car_Lock', 'ABS_(Anti-lock_Braking_System)', 'Headlight_Reminder', 'Adjustable_Headrests', 'Gross_Vehicle_Weight', 'Airbags', 'Door_Ajar_Warning', 'EBD_(Electronic_Brake-force_Distribution)', 'Fasten_Seat_Belt_Warning', 'Gear_Shift_Reminder', 'Number_of_Airbags', 'Compression_Ratio', 'Adjustable_Steering_Column', 'Other_Specs', 'Other_specs', 'Parking_Assistance', 'Key_Off_Reminder', 'USB_Compatibility', 'Android_Auto', 'Apple_CarPlay', 'Cigarette_Lighter', 'Infotainment_Screen', 'Multifunction_Steering_Wheel', 'Average_Speed', 'EBA_(Electronic_Brake_Assist)', 'Seat_Height_Adjustment', 'Navigation_System', 'Second_Row_AC_Vents', 'Tyre_Pressure_Monitoring_System', 'Rear_Center_Armrest', 'iPod_Compatibility', 'ESP_(Electronic_Stability_Program)', 'Cooled_Glove_Box', 'Recommended_Tyre_Pressure', 'Heated_Seats', 'Turbocharger', 'ISOFIX_(Child-Seat_Mount)', 'Rain_Sensing_Wipers', 'Paddle_Shifters', 'Leather_Wrapped_Steering', 'Automatic_Headlamps', 'Engine_Type', 'ASR_/_Traction_Control', 'Cruise_Control', 'USB_Ports', 'Heads-Up_Display', 'Welcome_Lights', 'Battery', 'Electric_Range']

First 3 rows:

,Unnamed: 0,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
0,0,Tata,Nano Genx,Xt,"Rs. 2,92,667",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Tata,Nano Genx,Xe,"Rs. 2,36,447",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Tata,Nano Genx,Emax Xm,"Rs. 2,96,661",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

==================================================
Dataset: dataset7.csv
==================================================
Shape: (1994, 147)
Columns: ['Brand', 'Car', 'Variant', 'Description', 'Price', 'Fuel Type', 'Mileage', 'Transmission', 'Engine', 'Overspeed Warning', 'Lane Departure Warning', 'Emergency Brake Light Flashing', 'Puncture Repair Kit', 'Forward Collision Warning (FCW)', 'Automatic Emergency Braking (AEB)', 'High-beam Assist', 'NCAP Rating', 'Blind Spot Detection', 'Lane Departure Prevention', 'Dashcam', 'Airbags', 'Rear Middle Three Point seatbelt', 'Rear Middle Head Rest', 'Tyre Pressure Monitoring System (TPMS)', 'Child Seat Anchor Points', 'Seat Belt Warning', 'Anti-Lock Braking System (ABS)', 'Electronic Brake-force Distribution (EBD)', 'Brake Assist (BA)', 'Electronic Stability Program (ESP)', 'Hill Hold Control', 'Traction Control System (TC/TCS)', 'Hill Descent Control', 'Engine Immobiliser', 'Central Locking', 'Speed Sensing Door Lock', 'Child Safety Lock', 'Air Purifier', 'Umbrella Storage in Door', 'Electronic Parking Brake', 'Air Conditioner', 'Front AC', 'Rear AC', 'Third Row AC Zone', 'Heater', 'Vanity Mirrors on Sun Visors', 'Cabin Boot Access', 'Anti-glare Mirrors', 'Parking Assist', 'Parking Sensors', 'Cruise Control', 'Headlight and Ignition On Reminder', 'Keyless Start/ Button Start', 'Steering Adjustment', '12V Power Outlets', 'Find My Car', 'Check Vehicle Status via App', 'Geo-fence', 'Emergency Call', 'Over The Air (OTA) Updates', 'Remote AC: On / Off via App', 'Remote Car Lock/Unlock via App', 'Remote Sunroof: Open / Close via App', 'Car Light Flashing & Honking via App', 'Alexa Compatibility', 'Driver Seat Adjustment', 'Front Passenger Seat Adjustment', 'Rear Row Seat Adjustment', 'Seat Upholstery', 'Leather-wrapped Steering Wheel', 'Leather-wrapped Gear Knob', 'Driver Armrest', 'Rear Passenger Seat Type', 'Ventilated Seats', 'Ventilated Seat Type', 'Interiors', 'Interior Colours', 'Rear Armrest', 'Folding Rear Seat', 'Split Rear Seat', 'Front Seatback Pockets', 'Headrests', 'Cup Holders', 'Driver Armrest Storage', 'Cooled Glovebox', 'Sunglass Holder', 'ORVM Colour', 'Scuff Plates', 'Power Windows', 'One Touch Down', 'One Touch Up', 'Adjustable ORVMs', 'Turn Indicators on ORVMs', 'Rear Defogger', 'Sunroof / Moonroof', 'Roof-mounted Antenna', 'Body-coloured Bumpers', 'Chrome Finish Exhaust Pipe', 'Body Kit', 'Rub-strips', 'Headlights', 'Automatic Headlamps', 'Follow Me Home Headlamps', 'Cornering Headlights', 'Taillights', 'Daytime Running Lights', 'Fog Lights', 'Ambient Interior Lighting', 'Puddle Lamps', 'Cabin Lamps', 'Light on Vanity Mirrors', 'Rear Reading Lamp', 'Glovebox Lamp', 'Headlight Height Adjuster', 'Instantaneous Consumption', 'Instrument Cluster', 'Trip Meter', 'Average Fuel Consumption', 'Average Speed', 'Distance to Empty', 'Clock', 'Low Fuel Level Warning', 'Door Ajar Warning', 'Adjustable Cluster Brightness', 'Gear Indicator', 'Shift Indicator', 'Heads Up Display (HUD)', 'Tachometer', 'Smart Connectivity', 'Display', 'Touchscreen Size', 'Integrated (in-dash) Music System', 'Speakers', 'Steering-mounted controls', 'Voice Command', 'GPS Navigation System', 'Bluetooth Compatibility', 'AUX Compatibility', 'AM/FM Radio', 'USB Compatibility', 'Wireless Charger', 'Head Unit Size', 'iPod Compatibility', 'Internal Hard Drive', 'Battery Warranty (In Years)', 'Battery Warranty (In Kilometres)', 'Warranty (In Years)']

First 3 rows:

,Brand,Car,Variant,Description,Price,Fuel Type,Mileage,Transmission,Engine,Overspeed Warning,...,AUX Compatibility,AM/FM Radio,USB Compatibility,Wireless Charger,Head Unit Size,iPod Compatibility,Internal Hard Drive,Battery Warranty (In Years),Battery Warranty (In Kilometres),Warranty (In Years)
0,maruti-suzuki-cars,Maruti Fronx,Fronx Sigma 1.2L MT,Maruti Fronx Sigma 1.2L MT is the petrol varia...,Rs. 7.51 Lakh,Petrol,21.79 kmpl,Manual - 5 Gears,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...","1 beep over 80kmph, Continuous beeps over 120kmph",...,No,No,No,No,Not Available,No,No,Not Applicable,Not Applicable,Not Applicable
1,maruti-suzuki-cars,Maruti Fronx,Fronx Delta 1.2L MT,Maruti Fronx Delta 1.2L MT is the petrol varia...,Rs. 8.37 Lakh,Petrol,21.79 kmpl,Manual - 5 Gears,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...","1 beep over 80kmph, Continuous beeps over 120kmph",...,Yes,Yes,Yes,No,Not Available,No,No,Not Applicable,Not Applicable,Not Applicable
2,maruti-suzuki-cars,Maruti Fronx,Fronx Sigma 1.2 CNG,Maruti Fronx Sigma 1.2 CNG is the cng variant ...,Rs. 8.46 Lakh,CNG,28.51 kmpl,Manual - 5 Gears,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...","1 beep over 80kmph, Continuous beeps over 120kmph",...,No,No,No,No,Not Available,No,No,Not Applicable,Not Applicable,Not Applicable

In [20]:
# Method 1: Simple combine (stack on top of each other)
combined_data = pd.DataFrame()  # Create empty dataframe

for name, df in all_data.items():
    # Add a column to remember source
    df['source_file'] = name
    # Add to combined data
    combined_data = pd.concat([combined_data, df], ignore_index=True)

print(f"âœ… Combined all datasets!")
print(f"Total rows: {combined_data.shape[0]}")
print(f"Total columns: {combined_data.shape[1]}")
print("\nFirst 5 rows:")
display(combined_data.head())

âœ… Combined all datasets!
Total rows: 21687
Total columns: 346

First 5 rows:

,Name,EMI,Price,Mileage,ENGINE,TRANSMISSION,FUEL TYPE,Price range,Length (mm),Wheelbase (mm),...,AUX Compatibility,AM/FM Radio,USB Compatibility,Wireless Charger,Head Unit Size,iPod Compatibility,Internal Hard Drive,Battery Warranty (In Years),Battery Warranty (In Kilometres),Warranty (In Years)
0,Porsche Macan,"1,18,950",69.98 Lakh,14 kmpl,1984 to 2995 cc,Automatic,Petrol,â‚¹ 69.98 - 85.01 Lakh,4696.0,2807,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Porsche 718,"1,45,262",85.46 Lakh,9 kmpl,1988 to 3995 cc,"Automatic, Manual",Petrol,â‚¹ 85.46 Lakh - 1.64 Crore,4379.0,2475,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Porsche Cayenne,"2,02,272",1.2 Crore,9 - 40 kmpl,2995 to 3996 cc,Automatic,Petrol,â‚¹ 1.2 - 1.93 Crore,4918.0,2895,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Porsche Cayenne Coupe,"2,24,165",1.32 Crore,10.75 kmpl,2995 to 3996 cc,Automatic,Petrol,â‚¹ 1.32 - 1.98 Crore,4931.0,2895,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Porsche Panamera,"2,45,599",1.44 Crore,8-37 kmpl,2894 to 4806 cc,Automatic,Petrol,â‚¹ 1.44 - 2.43 Crore,5049.0,2950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
print("ðŸ” UNDERSTANDING THE COLUMN PROBLEM")
print("="*60)

# Count how many non-empty values in each column
column_stats = []
for col in combined_data.columns:
    non_null = combined_data[col].notna().sum()
    if non_null > 0:  # Only show columns with some data
        column_stats.append((col, non_null))

# Sort by most populated columns
column_stats.sort(key=lambda x: x[1], reverse=True)

print(f"\nTop 20 columns with most data:")
for i, (col, count) in enumerate(column_stats[:20], 1):
    percentage = (count / len(combined_data)) * 100
    print(f"{i:2}. {col:30} â†’ {count:5} rows ({percentage:.1f}%)")

print(f"\nðŸ“Š Total columns with data: {len(column_stats)}")
print(f"ðŸ“Š Empty columns: {346 - len(column_stats)}")

ðŸ” UNDERSTANDING THE COLUMN PROBLEM
============================================================

Top 20 columns with most data:
 1. source_file                    â†’ 21687 rows (100.0%)
 2. Price                          â†’ 20200 rows (93.1%)
 3. Year                           â†’ 18009 rows (83.0%)
 4. Transmission                   â†’ 12023 rows (55.4%)
 5. Brand                          â†’ 11991 rows (55.3%)
 6. Mileage                        â†’ 11326 rows (52.2%)
 7. Model                          â†’ 11273 rows (52.0%)
 8. Fuel_Type                      â†’ 11270 rows (52.0%)
 9. Seating_Capacity               â†’ 11269 rows (52.0%)
10. Body_Type                      â†’ 11269 rows (52.0%)
11. Car_ID                         â†’ 10000 rows (46.1%)
12. Color                          â†’ 10000 rows (46.1%)
13. Owner_Type                     â†’ 10000 rows (46.1%)
14. Previous_Accidents             â†’ 10000 rows (46.1%)
15. Manufacturing_Plant            â†’  9999 rows (46.1%)
16. State                          â†’  9998 rows (46.1%)
17. Number_of_Repairs              â†’  9998 rows (46.1%)
18. Service_Cost                   â†’  9996 rows (46.1%)
19. Insurance_Status               â†’  9996 rows (46.1%)
20. Engine_CC                      â†’  9993 rows (46.1%)

ðŸ“Š Total columns with data: 346
ðŸ“Š Empty columns: 0

In [30]:
print("IDENTIFYING DATASET TYPES")


# Let's check each dataset individually
for name, df in all_data.items():
    print(f"\n {name}:")
    print(f"  Rows: {df.shape[0]}, Columns: {df.shape[1]}")
    
    # Check for key columns to determine type
    has_new_car_cols = 'Brand' in df.columns and 'Model' in df.columns
    has_used_car_cols = 'Car_ID' in df.columns or 'Owner_Type' in df.columns
    
    if has_new_car_cols:
        print(" Type: NEW CAR SPECIFICATIONS")
        new_car_cols = [col for col in ['Brand', 'Model', 'Fuel_Type', 'Seating_Capacity', 'Body_Type'] if col in df.columns]
        print(f"  Key columns: {new_car_cols}")
        
    elif has_used_car_cols:
        print("  Type: USED CAR LISTINGS")
        used_car_cols = [col for col in ['Car_ID', 'Owner_Type', 'Previous_Accidents', 'Service_Cost'] if col in df.columns]
        print(f"  Key columns: {used_car_cols}")
        
    else:
        print("  Type: UNKNOWN/MIXED")
    
    # Show first few column names
    print(f"  First 5 columns: {list(df.columns)[:5]}")

IDENTIFYING DATASET TYPES

 dataset1.csv:
  Rows: 150, Columns: 24
  Type: UNKNOWN/MIXED
  First 5 columns: ['Name', 'EMI', 'Price', 'Mileage', 'ENGINE']

 dataset2.csv:
  Rows: 10000, Columns: 20
 Type: NEW CAR SPECIFICATIONS
  Key columns: ['Brand', 'Model', 'Fuel_Type', 'Seating_Capacity', 'Body_Type']
  First 5 columns: ['Car_ID', 'Brand', 'Model', 'Year', 'Fuel_Type']

 dataset3.csv:
  Rows: 49, Columns: 15
  Type: UNKNOWN/MIXED
  First 5 columns: ['web-scraper-order', 'web-scraper-start-url', 'Links', 'Links-href', 'Name']

 dataset4.csv:
  Rows: 203, Columns: 17
  Type: UNKNOWN/MIXED
  First 5 columns: ['car_name', 'reviews_count', 'fuel_type', 'engine_displacement', 'no_cylinder']

 dataset5.csv:
  Rows: 8015, Columns: 11
  Type: UNKNOWN/MIXED
  First 5 columns: ['Unnamed: 0', 'Car Name', 'Year', 'Distance', 'Owner']

 dataset6.csv:
  Rows: 1276, Columns: 142
  Type: UNKNOWN/MIXED
  First 5 columns: ['Unnamed: 0', 'Make', 'Model', 'Variant', 'Ex-Showroom_Price']

 dataset7.csv:
  Rows: 1994, Columns: 148
  Type: UNKNOWN/MIXED
  First 5 columns: ['Brand', 'Car', 'Variant', 'Description', 'Price']

In [32]:
print("ðŸŽ¯ LOADING KEY NEW CAR DATASETS")
print("="*60)

# Load the 3 main datasets
key_datasets = {
    'dataset2': all_data['dataset2.csv'],
    'dataset6': all_data['dataset6.csv'], 
    'dataset7': all_data['dataset7.csv']
}

# Show detailed info for each
for name, df in key_datasets.items():
    print(f"\n{'='*50}")
    print(f"ðŸ“Š {name}: {df.shape[0]} rows, {df.shape[1]} columns")
    print(f"{'='*50}")
    
    print("FIRST 3 ROWS:")
    display(df.head(3))
    
    print("\nCOLUMNS AVAILABLE:")
    for i, col in enumerate(df.columns, 1):
        # Show first non-null value as example
        sample_val = df[col].dropna().iloc[0] if not df[col].dropna().empty else "EMPTY"
        print(f"{i:3}. {col:30} â†’ Sample: {str(sample_val)[:50]}...")

ðŸŽ¯ LOADING KEY NEW CAR DATASETS
============================================================

==================================================
ðŸ“Š dataset2: 10000 rows, 20 columns
==================================================
FIRST 3 ROWS:

,Car_ID,Brand,Model,Year,Fuel_Type,Transmission,Price,Mileage,Engine_CC,Seating_Capacity,Service_Cost,Color,Owner_Type,State,Insurance_Status,Manufacturing_Plant,Number_of_Repairs,Previous_Accidents,Body_Type,source_file
0,1,Toyota,Innova,2024.0,CNG,Manual,2020000.0,27.3,800.0,4.0,24100.0,Green,Second,Tamil Nadu,Insured,Pune,2.0,4,Sedan,dataset2.csv
1,2,Kia,EV6,2023.0,Diesel,Manual,1770000.0,16.4,2500.0,7.0,18800.0,Blue,Third,Delhi,Not Insured,Manesar,8.0,4,Convertible,dataset2.csv
2,3,Maruti Suzuki,Dzire,2016.0,Petrol,Manual,3430000.0,17.6,2000.0,6.0,24700.0,Grey,First,Tamil Nadu,Insured,Surat,2.0,1,Sedan,dataset2.csv

COLUMNS AVAILABLE:
  1. Car_ID                         â†’ Sample: 1...
  2. Brand                          â†’ Sample: Toyota...
  3. Model                          â†’ Sample: Innova...
  4. Year                           â†’ Sample: 2024.0...
  5. Fuel_Type                      â†’ Sample: CNG...
  6. Transmission                   â†’ Sample: Manual...
  7. Price                          â†’ Sample: 2020000.0...
  8. Mileage                        â†’ Sample: 27.3...
  9. Engine_CC                      â†’ Sample: 800.0...
 10. Seating_Capacity               â†’ Sample: 4.0...
 11. Service_Cost                   â†’ Sample: 24100.0...
 12. Color                          â†’ Sample: Green...
 13. Owner_Type                     â†’ Sample: Second...
 14. State                          â†’ Sample: Tamil Nadu...
 15. Insurance_Status               â†’ Sample: Insured...
 16. Manufacturing_Plant            â†’ Sample: Pune...
 17. Number_of_Repairs              â†’ Sample: 2.0...
 18. Previous_Accidents             â†’ Sample: 4...
 19. Body_Type                      â†’ Sample: Sedan...
 20. source_file                    â†’ Sample: dataset2.csv...

==================================================
ðŸ“Š dataset6: 1276 rows, 142 columns
==================================================
FIRST 3 ROWS:

,Unnamed: 0,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,...,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range,source_file
0,0,Tata,Nano Genx,Xt,"Rs. 2,92,667",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dataset6.csv
1,1,Tata,Nano Genx,Xe,"Rs. 2,36,447",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dataset6.csv
2,2,Tata,Nano Genx,Emax Xm,"Rs. 2,96,661",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dataset6.csv

COLUMNS AVAILABLE:
  1. Unnamed: 0                     â†’ Sample: 0...
  2. Make                           â†’ Sample: Tata...
  3. Model                          â†’ Sample: Nano Genx...
  4. Variant                        â†’ Sample: Xt...
  5. Ex-Showroom_Price              â†’ Sample: Rs. 2,92,667...
  6. Displacement                   â†’ Sample: 624 cc...
  7. Cylinders                      â†’ Sample: 2.0...
  8. Valves_Per_Cylinder            â†’ Sample: 2.0...
  9. Drivetrain                     â†’ Sample: RWD (Rear Wheel Drive)...
 10. Cylinder_Configuration         â†’ Sample: In-line...
 11. Emission_Norm                  â†’ Sample: BS IV...
 12. Engine_Location                â†’ Sample: Rear, Transverse...
 13. Fuel_System                    â†’ Sample: Injection...
 14. Fuel_Tank_Capacity             â†’ Sample: 24 litres...
 15. Fuel_Type                      â†’ Sample: Petrol...
 16. Height                         â†’ Sample: 1652 mm...
 17. Length                         â†’ Sample: 3164 mm...
 18. Width                          â†’ Sample: 1750 mm...
 19. Body_Type                      â†’ Sample: Hatchback...
 20. Doors                          â†’ Sample: 5.0...
 21. City_Mileage                   â†’ Sample: ?23.6 km/litre...
 22. Highway_Mileage                â†’ Sample: 24 km/litre...
 23. ARAI_Certified_Mileage         â†’ Sample: 23.6 km/litre...
 24. ARAI_Certified_Mileage_for_CNG â†’ Sample: 36 km/kg...
 25. Kerb_Weight                    â†’ Sample: 660 kg...
 26. Gears                          â†’ Sample: 4...
 27. Ground_Clearance               â†’ Sample: 180 mm...
 28. Front_Brakes                   â†’ Sample: Drum...
 29. Rear_Brakes                    â†’ Sample: Drum...
 30. Front_Suspension               â†’ Sample: Independent, Lower Wishbone, McPherson Strut with ...
 31. Rear_Suspension                â†’ Sample: Independent, Semi Trailing arm with coil spring & ...
 32. Front_Track                    â†’ Sample: 1325 mm...
 33. Rear_Track                     â†’ Sample: 1315 mm...
 34. Front_Tyre_&_Rim               â†’ Sample: 135/70R12...
 35. Rear_Tyre_&_Rim                â†’ Sample: 155/65R12...
 36. Power_Steering                 â†’ Sample: Electric Power...
 37. Power_Windows                  â†’ Sample: Only Front Windows...
 38. Power_Seats                    â†’ Sample: Yes...
 39. Keyless_Entry                  â†’ Sample: Remote...
 40. Power                          â†’ Sample: 38PS@5500rpm...
 41. Torque                         â†’ Sample: 51Nm@4000rpm...
 42. Odometer                       â†’ Sample: Digital...
 43. Speedometer                    â†’ Sample: Analog...
 44. Tachometer                     â†’ Sample: Not on offer...
 45. Tripmeter                      â†’ Sample: Yes...
 46. Seating_Capacity               â†’ Sample: 4.0...
 47. Seats_Material                 â†’ Sample: Fabric...
 48. Type                           â†’ Sample: Manual...
 49. Wheelbase                      â†’ Sample: 2230 mm...
 50. Wheels_Size                    â†’ Sample: 4 B X 12...
 51. Start_/_Stop_Button            â†’ Sample: Yes...
 52. 12v_Power_Outlet               â†’ Sample: Yes...
 53. Audiosystem                    â†’ Sample: CD Player with USB & Aux-in...
 54. Aux-in_Compatibility           â†’ Sample: Yes...
 55. Average_Fuel_Consumption       â†’ Sample: Yes...
 56. Basic_Warranty                 â†’ Sample: 2 years /75000 Kms (years/distance whichever comes...
 57. Bluetooth                      â†’ Sample: Yes...
 58. Boot-lid_Opener                â†’ Sample: Internal...
 59. Boot_Space                     â†’ Sample: 110 litres...
 60. CD_/_MP3_/_DVD_Player          â†’ Sample: Yes...
 61. Central_Locking                â†’ Sample: Yes...
 62. Child_Safety_Locks             â†’ Sample: Yes...
 63. Clock                          â†’ Sample: Digital...
 64. Cup_Holders                    â†’ Sample: Front...
 65. Distance_to_Empty              â†’ Sample: Yes...
 66. Door_Pockets                   â†’ Sample: Front...
 67. Engine_Malfunction_Light       â†’ Sample: Yes...
 68. Extended_Warranty              â†’ Sample: 2 years /150000 Kms (years/distance whichever come...
 69. FM_Radio                       â†’ Sample: Yes...
 70. Fuel-lid_Opener                â†’ Sample: Internal...
 71. Fuel_Gauge                     â†’ Sample: Digital...
 72. Handbrake                      â†’ Sample: Manual...
 73. Instrument_Console             â†’ Sample: Analog + Digital...
 74. Low_Fuel_Warning               â†’ Sample: Yes...
 75. Minimum_Turning_Radius         â†’ Sample: 4 meter...
 76. Multifunction_Display          â†’ Sample: Yes...
 77. Sun_Visor                      â†’ Sample: Driver & Front Passenger...
 78. Third_Row_AC_Vents             â†’ Sample: Not Applicable...
 79. Ventilation_System             â†’ Sample: Manual Air conditioning with cooling and heating...
 80. Auto-Dimming_Rear-View_Mirror  â†’ Sample: Yes...
 81. Hill_Assist                    â†’ Sample: Yes...
 82. Gear_Indicator                 â†’ Sample: Yes...
 83. 3_Point_Seat-Belt_in_Middle_Rear_Seat â†’ Sample: Yes...
 84. Ambient_Lightning              â†’ Sample: Yes...
 85. Cargo/Boot_Lights              â†’ Sample: Yes...
 86. Drive_Modes                    â†’ Sample: Normal...
 87. Engine_Immobilizer             â†’ Sample: Yes...
 88. High_Speed_Alert_System        â†’ Sample: Yes...
 89. Lane_Watch_Camera/_Side_Mirror_Camera â†’ Sample: Yes...
 90. Passenger_Side_Seat-Belt_Reminder â†’ Sample: Yes...
 91. Seat_Back_Pockets              â†’ Sample: Yes...
 92. Voice_Recognition              â†’ Sample: Yes...
 93. Walk_Away_Auto_Car_Lock        â†’ Sample: Yes...
 94. ABS_(Anti-lock_Braking_System) â†’ Sample: Yes...
 95. Headlight_Reminder             â†’ Sample: Yes...
 96. Adjustable_Headrests           â†’ Sample: Front Row...
 97. Gross_Vehicle_Weight           â†’ Sample: 1510 kg...
 98. Airbags                        â†’ Sample: Driver frontal airbag...
 99. Door_Ajar_Warning              â†’ Sample: Yes...
100. EBD_(Electronic_Brake-force_Distribution) â†’ Sample: Yes...
101. Fasten_Seat_Belt_Warning       â†’ Sample: Yes...
102. Gear_Shift_Reminder            â†’ Sample: Yes...
103. Number_of_Airbags              â†’ Sample: 1.0...
104. Compression_Ratio              â†’ Sample: 9.9...
105. Adjustable_Steering_Column     â†’ Sample: Rake...
106. Other_Specs                    â†’ Sample: tubeless tyre...
107. Other_specs                    â†’ Sample: Rear Reading Lamp...
108. Parking_Assistance             â†’ Sample: Rear sensors...
109. Key_Off_Reminder               â†’ Sample: Yes...
110. USB_Compatibility              â†’ Sample: Yes...
111. Android_Auto                   â†’ Sample: Yes...
112. Apple_CarPlay                  â†’ Sample: Yes...
113. Cigarette_Lighter              â†’ Sample: Yes...
114. Infotainment_Screen            â†’ Sample: Touch Sensitive...
115. Multifunction_Steering_Wheel   â†’ Sample: Multifunction Steering Wheel...
116. Average_Speed                  â†’ Sample: Yes...
117. EBA_(Electronic_Brake_Assist)  â†’ Sample: Yes...
118. Seat_Height_Adjustment         â†’ Sample: Manual Adjustment...
119. Navigation_System              â†’ Sample: Yes...
120. Second_Row_AC_Vents            â†’ Sample: Yes...
121. Tyre_Pressure_Monitoring_System â†’ Sample: Yes...
122. Rear_Center_Armrest            â†’ Sample: Yes...
123. iPod_Compatibility             â†’ Sample: Yes...
124. ESP_(Electronic_Stability_Program) â†’ Sample: Yes...
125. Cooled_Glove_Box               â†’ Sample: Yes...
126. Recommended_Tyre_Pressure      â†’ Sample: 175/60R15 psi...
127. Heated_Seats                   â†’ Sample: Only front...
128. Turbocharger                   â†’ Sample: Yes...
129. ISOFIX_(Child-Seat_Mount)      â†’ Sample: Yes...
130. Rain_Sensing_Wipers            â†’ Sample: Yes...
131. Paddle_Shifters                â†’ Sample: Yes...
132. Leather_Wrapped_Steering       â†’ Sample: Yes...
133. Automatic_Headlamps            â†’ Sample: Yes...
134. Engine_Type                    â†’ Sample: 2.0 Diesel...
135. ASR_/_Traction_Control         â†’ Sample: Yes...
136. Cruise_Control                 â†’ Sample: Yes...
137. USB_Ports                      â†’ Sample: 2.0...
138. Heads-Up_Display               â†’ Sample: Yes...
139. Welcome_Lights                 â†’ Sample: Yes...
140. Battery                        â†’ Sample: 210 ampere-hour...
141. Electric_Range                 â†’ Sample: 39.53 km/full charge...
142. source_file                    â†’ Sample: dataset6.csv...

==================================================
ðŸ“Š dataset7: 1994 rows, 148 columns
==================================================
FIRST 3 ROWS:

,Brand,Car,Variant,Description,Price,Fuel Type,Mileage,Transmission,Engine,Overspeed Warning,...,AM/FM Radio,USB Compatibility,Wireless Charger,Head Unit Size,iPod Compatibility,Internal Hard Drive,Battery Warranty (In Years),Battery Warranty (In Kilometres),Warranty (In Years),source_file
0,maruti-suzuki-cars,Maruti Fronx,Fronx Sigma 1.2L MT,Maruti Fronx Sigma 1.2L MT is the petrol varia...,Rs. 7.51 Lakh,Petrol,21.79 kmpl,Manual - 5 Gears,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...","1 beep over 80kmph, Continuous beeps over 120kmph",...,No,No,No,Not Available,No,No,Not Applicable,Not Applicable,Not Applicable,dataset7.csv
1,maruti-suzuki-cars,Maruti Fronx,Fronx Delta 1.2L MT,Maruti Fronx Delta 1.2L MT is the petrol varia...,Rs. 8.37 Lakh,Petrol,21.79 kmpl,Manual - 5 Gears,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...","1 beep over 80kmph, Continuous beeps over 120kmph",...,Yes,Yes,No,Not Available,No,No,Not Applicable,Not Applicable,Not Applicable,dataset7.csv
2,maruti-suzuki-cars,Maruti Fronx,Fronx Sigma 1.2 CNG,Maruti Fronx Sigma 1.2 CNG is the cng variant ...,Rs. 8.46 Lakh,CNG,28.51 kmpl,Manual - 5 Gears,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...","1 beep over 80kmph, Continuous beeps over 120kmph",...,No,No,No,Not Available,No,No,Not Applicable,Not Applicable,Not Applicable,dataset7.csv

COLUMNS AVAILABLE:
  1. Brand                          â†’ Sample: maruti-suzuki-cars...
  2. Car                            â†’ Sample: Maruti Fronx...
  3. Variant                        â†’ Sample: Fronx Sigma 1.2L MT...
  4. Description                    â†’ Sample: Maruti Fronx Sigma 1.2L MT is the petrol variant i...
  5. Price                          â†’ Sample: Rs. 7.51 Lakh...
  6. Fuel Type                      â†’ Sample: Petrol...
  7. Mileage                        â†’ Sample: 21.79 kmpl...
  8. Transmission                   â†’ Sample: Manual - 5 Gears...
  9. Engine                         â†’ Sample: 1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder, DO...
 10. Overspeed Warning              â†’ Sample: 1 beep over 80kmph, Continuous beeps over 120kmph...
 11. Lane Departure Warning         â†’ Sample: No...
 12. Emergency Brake Light Flashing â†’ Sample: No...
 13. Puncture Repair Kit            â†’ Sample: No...
 14. Forward Collision Warning (FCW) â†’ Sample: No...
 15. Automatic Emergency Braking (AEB) â†’ Sample: No...
 16. High-beam Assist               â†’ Sample: No...
 17. NCAP Rating                    â†’ Sample: Not Tested...
 18. Blind Spot Detection           â†’ Sample: No...
 19. Lane Departure Prevention      â†’ Sample: No...
 20. Dashcam                        â†’ Sample: No...
 21. Airbags                        â†’ Sample: 2 Airbags (Driver, Front Passenger)...
 22. Rear Middle Three Point seatbelt â†’ Sample: Yes...
 23. Rear Middle Head Rest          â†’ Sample: Yes...
 24. Tyre Pressure Monitoring System (TPMS) â†’ Sample: No...
 25. Child Seat Anchor Points       â†’ Sample: Yes...
 26. Seat Belt Warning              â†’ Sample: Yes...
 27. Anti-Lock Braking System (ABS) â†’ Sample: Yes...
 28. Electronic Brake-force Distribution (EBD) â†’ Sample: Yes...
 29. Brake Assist (BA)              â†’ Sample: Yes...
 30. Electronic Stability Program (ESP) â†’ Sample: Yes...
 31. Hill Hold Control              â†’ Sample: Yes...
 32. Traction Control System (TC/TCS) â†’ Sample: Yes...
 33. Hill Descent Control           â†’ Sample: No...
 34. Engine Immobiliser             â†’ Sample: No...
 35. Central Locking                â†’ Sample: Keyless...
 36. Speed Sensing Door Lock        â†’ Sample: Yes...
 37. Child Safety Lock              â†’ Sample: Yes...
 38. Air Purifier                   â†’ Sample: No...
 39. Umbrella Storage in Door       â†’ Sample: No...
 40. Electronic Parking Brake       â†’ Sample: No...
 41. Air Conditioner                â†’ Sample: Yes (Automatic Climate Control)...
 42. Front AC                       â†’ Sample: Single Zone, Common Fan Speed Control...
 43. Rear AC                        â†’ Sample: -...
 44. Third Row AC Zone              â†’ Sample: -...
 45. Heater                         â†’ Sample: Yes...
 46. Vanity Mirrors on Sun Visors   â†’ Sample: Co-Driver Only...
 47. Cabin Boot Access              â†’ Sample: Yes...
 48. Anti-glare Mirrors             â†’ Sample: Manual - Internal Only...
 49. Parking Assist                 â†’ Sample: No...
 50. Parking Sensors                â†’ Sample: Rear...
 51. Cruise Control                 â†’ Sample: No...
 52. Headlight and Ignition On Reminder â†’ Sample: -...
 53. Keyless Start/ Button Start    â†’ Sample: No...
 54. Steering Adjustment            â†’ Sample: Tilt...
 55. 12V Power Outlets              â†’ Sample: Yes...
 56. Find My Car                    â†’ Sample: No...
 57. Check Vehicle Status via App   â†’ Sample: No...
 58. Geo-fence                      â†’ Sample: No...
 59. Emergency Call                 â†’ Sample: No...
 60. Over The Air (OTA) Updates     â†’ Sample: No...
 61. Remote AC: On / Off via App    â†’ Sample: No...
 62. Remote Car Lock/Unlock via App â†’ Sample: No...
 63. Remote Sunroof: Open / Close via App â†’ Sample: No...
 64. Car Light Flashing & Honking via App â†’ Sample: No...
 65. Alexa Compatibility            â†’ Sample: No...
 66. Driver Seat Adjustment         â†’ Sample: 6 way manually adjustable (seat forward / back, ba...
 67. Front Passenger Seat Adjustment â†’ Sample: 6 way manually adjustable (seat forward / back, ba...
 68. Rear Row Seat Adjustment       â†’ Sample: 2 way manually adjustable (headrest up / down)...
 69. Seat Upholstery                â†’ Sample: Fabric...
 70. Leather-wrapped Steering Wheel â†’ Sample: No...
 71. Leather-wrapped Gear Knob      â†’ Sample: No...
 72. Driver Armrest                 â†’ Sample: No...
 73. Rear Passenger Seat Type       â†’ Sample: Bench...
 74. Ventilated Seats               â†’ Sample: No...
 75. Ventilated Seat Type           â†’ Sample: No...
 76. Interiors                      â†’ Sample: Dual Tone...
 77. Interior Colours               â†’ Sample: -...
 78. Rear Armrest                   â†’ Sample: No...
 79. Folding Rear Seat              â†’ Sample: Full...
 80. Split Rear Seat                â†’ Sample: 60:40 split...
 81. Front Seatback Pockets         â†’ Sample: No...
 82. Headrests                      â†’ Sample: Front & Rear...
 83. Cup Holders                    â†’ Sample: Front Only...
 84. Driver Armrest Storage         â†’ Sample: No...
 85. Cooled Glovebox                â†’ Sample: No...
 86. Sunglass Holder                â†’ Sample: No...
 87. ORVM Colour                    â†’ Sample: Body Coloured...
 88. Scuff Plates                   â†’ Sample: -...
 89. Power Windows                  â†’ Sample: Front & Rear...
 90. One Touch Down                 â†’ Sample: Driver...
 91. One Touch Up                   â†’ Sample: Driver...
 92. Adjustable ORVMs               â†’ Sample: Externally Adjustable...
 93. Turn Indicators on ORVMs       â†’ Sample: No...
 94. Rear Defogger                  â†’ Sample: Yes...
 95. Sunroof / Moonroof             â†’ Sample: No...
 96. Roof-mounted Antenna           â†’ Sample: Yes...
 97. Body-coloured Bumpers          â†’ Sample: No...
 98. Chrome Finish Exhaust Pipe     â†’ Sample: Yes...
 99. Body Kit                       â†’ Sample: -...
100. Rub-strips                     â†’ Sample: -...
101. Headlights                     â†’ Sample: Halogen Projector...
102. Automatic Headlamps            â†’ Sample: No...
103. Follow Me Home Headlamps       â†’ Sample: No...
104. Cornering Headlights           â†’ Sample: No...
105. Taillights                     â†’ Sample: LED...
106. Daytime Running Lights         â†’ Sample: No...
107. Fog Lights                     â†’ Sample: -...
108. Ambient Interior Lighting      â†’ Sample: No...
109. Puddle Lamps                   â†’ Sample: No...
110. Cabin Lamps                    â†’ Sample: Centre...
111. Light on Vanity Mirrors        â†’ Sample: No...
112. Rear Reading Lamp              â†’ Sample: Yes...
113. Glovebox Lamp                  â†’ Sample: No...
114. Headlight Height Adjuster      â†’ Sample: Yes...
115. Instantaneous Consumption      â†’ Sample: -...
116. Instrument Cluster             â†’ Sample: Analogue - Digital...
117. Trip Meter                     â†’ Sample: Electronic 2 Trips...
118. Average Fuel Consumption       â†’ Sample: Yes...
119. Average Speed                  â†’ Sample: No...
120. Distance to Empty              â†’ Sample: Yes...
121. Clock                          â†’ Sample: Digital...
122. Low Fuel Level Warning         â†’ Sample: No...
123. Door Ajar Warning              â†’ Sample: Yes...
124. Adjustable Cluster Brightness  â†’ Sample: Yes...
125. Gear Indicator                 â†’ Sample: No...
126. Shift Indicator                â†’ Sample: Yes...
127. Heads Up Display (HUD)         â†’ Sample: No...
128. Tachometer                     â†’ Sample: Analogue...
129. Smart Connectivity             â†’ Sample: Android Auto (No), Apple Car Play (No)...
130. Display                        â†’ Sample: No...
131. Touchscreen Size               â†’ Sample: -...
132. Integrated (in-dash) Music System â†’ Sample: No...
133. Speakers                       â†’ Sample: No...
134. Steering-mounted controls      â†’ Sample: No...
135. Voice Command                  â†’ Sample: No...
136. GPS Navigation System          â†’ Sample: No...
137. Bluetooth Compatibility        â†’ Sample: No...
138. AUX Compatibility              â†’ Sample: No...
139. AM/FM Radio                    â†’ Sample: No...
140. USB Compatibility              â†’ Sample: No...
141. Wireless Charger               â†’ Sample: No...
142. Head Unit Size                 â†’ Sample: Not Available...
143. iPod Compatibility             â†’ Sample: No...
144. Internal Hard Drive            â†’ Sample: No...
145. Battery Warranty (In Years)    â†’ Sample: Not Applicable...
146. Battery Warranty (In Kilometres) â†’ Sample: Not Applicable...
147. Warranty (In Years)            â†’ Sample: Not Applicable...
148. source_file                    â†’ Sample: dataset7.csv...

In [34]:
print("ðŸ”§ CREATING SMART COLUMN MAPPING")
print("="*60)

# For dataset2 (already has good structure)
dataset2_mapping = {
    'Brand': 'brand',
    'Model': 'model',
    'Price': 'price',
    'Fuel_Type': 'fuel_type',
    'Engine_CC': 'engine_cc',
    'Transmission': 'transmission',
    'Mileage': 'mileage_kmpl',
    'Body_Type': 'body_type',
    'Seating_Capacity': 'seating_capacity',
    'Year': 'model_year'
}

# For dataset6 (has Make/Model/Variant structure)
dataset6_mapping = {
    'Make': 'brand',
    'Model': 'model',
    'Variant': 'variant',
    'Ex-Showroom_Price': 'price',
    'Fuel_Type': 'fuel_type',
    'Engine_Displacement': 'engine_cc',
    'Transmission_Type': 'transmission',
    'ARAI_Certified_Mileage': 'mileage_kmpl',
    'Body_Type': 'body_type',
    'Seating_Capacity': 'seating_capacity'
}

# For dataset7 (has Brand/Car/Variant structure)
dataset7_mapping = {
    'Brand': 'brand',
    'Car': 'model',
    'Variant': 'variant',
    'Price': 'price',
    'Fuel_Type': 'fuel_type',
    'Engine': 'engine_cc',
    'Transmission': 'transmission',
    'Mileage': 'mileage_kmpl',
    'Body_Type': 'body_type',
    'Seats': 'seating_capacity'
}

print("Dataset 2 mapping:")
for old, new in dataset2_mapping.items():
    if old in key_datasets['dataset2'].columns:
        print(f"  âœ“ '{old}' â†’ '{new}'")

print("\nDataset 6 mapping:")  
for old, new in dataset6_mapping.items():
    if old in key_datasets['dataset6'].columns:
        print(f"  âœ“ '{old}' â†’ '{new}'")

print("\nDataset 7 mapping:")
for old, new in dataset7_mapping.items():
    if old in key_datasets['dataset7'].columns:
        print(f"  âœ“ '{old}' â†’ '{new}'")

ðŸ”§ CREATING SMART COLUMN MAPPING
============================================================
Dataset 2 mapping:
  âœ“ 'Brand' â†’ 'brand'
  âœ“ 'Model' â†’ 'model'
  âœ“ 'Price' â†’ 'price'
  âœ“ 'Fuel_Type' â†’ 'fuel_type'
  âœ“ 'Engine_CC' â†’ 'engine_cc'
  âœ“ 'Transmission' â†’ 'transmission'
  âœ“ 'Mileage' â†’ 'mileage_kmpl'
  âœ“ 'Body_Type' â†’ 'body_type'
  âœ“ 'Seating_Capacity' â†’ 'seating_capacity'
  âœ“ 'Year' â†’ 'model_year'

Dataset 6 mapping:
  âœ“ 'Make' â†’ 'brand'
  âœ“ 'Model' â†’ 'model'
  âœ“ 'Variant' â†’ 'variant'
  âœ“ 'Ex-Showroom_Price' â†’ 'price'
  âœ“ 'Fuel_Type' â†’ 'fuel_type'
  âœ“ 'ARAI_Certified_Mileage' â†’ 'mileage_kmpl'
  âœ“ 'Body_Type' â†’ 'body_type'
  âœ“ 'Seating_Capacity' â†’ 'seating_capacity'

Dataset 7 mapping:
  âœ“ 'Brand' â†’ 'brand'
  âœ“ 'Car' â†’ 'model'
  âœ“ 'Variant' â†’ 'variant'
  âœ“ 'Price' â†’ 'price'
  âœ“ 'Engine' â†’ 'engine_cc'
  âœ“ 'Transmission' â†’ 'transmission'
  âœ“ 'Mileage' â†’ 'mileage_kmpl'

In [38]:
print("ðŸ”„ STANDARDIZING AND MERGING 3 KEY DATASETS")
print("="*60)

# Function to apply mapping
def standardize_dataset(df, mapping, source_name):
    df_clean = df.copy()
    
    # Apply column renaming
    df_clean.rename(columns=mapping, inplace=True)
    
    # Add source
    df_clean['source_dataset'] = source_name
    
    # Keep only the columns we want
    desired_cols = [
        'brand', 'model', 'variant', 'price', 'fuel_type', 
        'engine_cc', 'transmission', 'mileage_kmpl', 'body_type',
        'seating_capacity', 'model_year', 'source_dataset'
    ]
    
    # Create result with only desired columns
    result = pd.DataFrame()
    for col in desired_cols:
        if col in df_clean.columns:
            result[col] = df_clean[col]
    
    return result

# Process each dataset
print("Processing dataset2...")
df2_clean = standardize_dataset(key_datasets['dataset2'], dataset2_mapping, 'dataset2')
print(f"  âœ“ Rows: {df2_clean.shape[0]}, Columns: {df2_clean.shape[1]}")

print("\nProcessing dataset6...")
df6_clean = standardize_dataset(key_datasets['dataset6'], dataset6_mapping, 'dataset6')
print(f"  âœ“ Rows: {df6_clean.shape[0]}, Columns: {df6_clean.shape[1]}")

print("\nProcessing dataset7...")
df7_clean = standardize_dataset(key_datasets['dataset7'], dataset7_mapping, 'dataset7')
print(f"  âœ“ Rows: {df7_clean.shape[0]}, Columns: {df7_clean.shape[1]}")

# Remove completely empty columns to avoid warning
df2_clean = df2_clean.dropna(axis=1, how='all')
df6_clean = df6_clean.dropna(axis=1, how='all')
df7_clean = df7_clean.dropna(axis=1, how='all')

print("\n" + "="*50)
print("MERGING ALL STANDARDIZED DATASETS...")
merged_new_cars = pd.concat([df2_clean, df6_clean, df7_clean], ignore_index=True)
print(f"âœ… MERGED SUCCESSFULLY!")
print(f"Total cars: {merged_new_cars.shape[0]}")
print(f"Total columns: {merged_new_cars.shape[1]}")

print("\nðŸ“Š DATA COVERAGE AFTER MERGE:")
for col in merged_new_cars.columns:
    if col != 'source_dataset':
        non_null = merged_new_cars[col].notna().sum()
        percentage = (non_null / len(merged_new_cars)) * 100
        print(f"  â€¢ {col:20} â†’ {non_null:6} rows ({percentage:5.1f}%)")

ðŸ”„ STANDARDIZING AND MERGING 3 KEY DATASETS
============================================================
Processing dataset2...
  âœ“ Rows: 10000, Columns: 11

Processing dataset6...
  âœ“ Rows: 1276, Columns: 9

Processing dataset7...
  âœ“ Rows: 1994, Columns: 8

==================================================
MERGING ALL STANDARDIZED DATASETS...
âœ… MERGED SUCCESSFULLY!
Total cars: 13270
Total columns: 12

ðŸ“Š DATA COVERAGE AFTER MERGE:
  â€¢ brand                â†’  13267 rows (100.0%)
  â€¢ model                â†’  13267 rows (100.0%)
  â€¢ price                â†’  13262 rows ( 99.9%)
  â€¢ fuel_type            â†’  11270 rows ( 84.9%)
  â€¢ engine_cc            â†’  11886 rows ( 89.6%)
  â€¢ transmission         â†’  11981 rows ( 90.3%)
  â€¢ mileage_kmpl         â†’  12315 rows ( 92.8%)
  â€¢ body_type            â†’  11269 rows ( 84.9%)
  â€¢ seating_capacity     â†’  11269 rows ( 84.9%)
  â€¢ model_year           â†’   9995 rows ( 75.3%)
  â€¢ variant              â†’   3269 rows ( 24.6%)

In [40]:
print("ðŸ§ª QUICK CHECK - IS MERGE WORKING?")
print("="*50)

if 'merged_new_cars' in locals():
    print(f"âœ… Merge variable exists!")
    print(f"Rows: {merged_new_cars.shape[0]}")
    print(f"Columns: {merged_new_cars.shape[1]}")
    
    # Show column names
    print("\nðŸ“‹ Columns found:")
    for col in merged_new_cars.columns:
        print(f"  â€¢ {col}")
    
    # Show sample
    print("\nðŸ‘€ Sample data:")
    display(merged_new_cars.head(3))
else:
    print("âŒ Merge not completed. Re-run Step 3.")

ðŸ§ª QUICK CHECK - IS MERGE WORKING?
==================================================
âœ… Merge variable exists!
Rows: 13270
Columns: 12

ðŸ“‹ Columns found:
  â€¢ brand
  â€¢ model
  â€¢ price
  â€¢ fuel_type
  â€¢ engine_cc
  â€¢ transmission
  â€¢ mileage_kmpl
  â€¢ body_type
  â€¢ seating_capacity
  â€¢ model_year
  â€¢ source_dataset
  â€¢ variant

ðŸ‘€ Sample data:

,brand,model,price,fuel_type,engine_cc,transmission,mileage_kmpl,body_type,seating_capacity,model_year,source_dataset,variant
0,Toyota,Innova,2020000.0,CNG,800.0,Manual,27.3,Sedan,4.0,2024.0,dataset2,NaN
1,Kia,EV6,1770000.0,Diesel,2500.0,Manual,16.4,Convertible,7.0,2023.0,dataset2,NaN
2,Maruti Suzuki,Dzire,3430000.0,Petrol,2000.0,Manual,17.6,Sedan,6.0,2016.0,dataset2,NaN

In [42]:
print("ðŸ§¹ CLEANING AND DEDUPLICATING")
print("="*60)

print(f"Before cleaning: {merged_new_cars.shape[0]} rows")

# Create a unique identifier for each car
def create_car_id(row):
    # Try to create ID from available info
    parts = []
    if pd.notna(row.get('brand')):
        parts.append(str(row['brand']).lower().replace(' ', '_'))
    if pd.notna(row.get('model')):
        parts.append(str(row['model']).lower().replace(' ', '_'))
    if pd.notna(row.get('variant')):
        parts.append(str(row['variant']).lower().replace(' ', '_')[:20])
    return '_'.join(parts) if parts else None

merged_new_cars['car_id'] = merged_new_cars.apply(create_car_id, axis=1)

# Remove rows without car_id
initial_count = len(merged_new_cars)
merged_new_cars = merged_new_cars[merged_new_cars['car_id'].notna()]
print(f"Removed rows without ID: {initial_count - len(merged_new_cars)}")

# Remove exact duplicates
merged_new_cars = merged_new_cars.drop_duplicates(subset=['car_id'], keep='first')
print(f"Removed duplicate car entries: {initial_count - len(merged_new_cars)}")

print(f"\nâœ… After cleaning: {merged_new_cars.shape[0]} unique cars")

# Show sample
print("\nðŸ“‹ SAMPLE OF CLEANED DATA:")
sample_cols = ['car_id', 'brand', 'model', 'variant', 'price', 'fuel_type']
display(merged_new_cars[sample_cols].head(10))

ðŸ§¹ CLEANING AND DEDUPLICATING
============================================================
Before cleaning: 13270 rows
Removed rows without ID: 0
Removed duplicate car entries: 10695

âœ… After cleaning: 2575 unique cars

ðŸ“‹ SAMPLE OF CLEANED DATA:

                 car_id          brand   model variant      price fuel_type
0         toyota_innova         Toyota  Innova     NaN  2020000.0       CNG
1               kia_ev6            Kia     EV6     NaN  1770000.0    Diesel
2   maruti_suzuki_dzire  Maruti Suzuki   Dzire     NaN  3430000.0    Petrol
3           honda_amaze          Honda   Amaze     NaN  1610000.0    Petrol
4            honda_city          Honda    City     NaN  1840000.0  Electric
5             kia_sonet            Kia   Sonet     NaN  2780000.0    Petrol
6         toyota_glanza         Toyota  Glanza     NaN  2270000.0       CNG
7     volkswagen_taigun     Volkswagen  Taigun     NaN  2770000.0       CNG
8         renault_lodgy        Renault   Lodgy     NaN  2180000.0    Petrol
10           honda_jazz          Honda    Jazz     NaN  3010000.0       CNG

In [54]:
print("ðŸ” HANDLING MISSING VALUES")
print("="*60)

# Show missing values before
print("Missing values per column (before):")
for col in merged_new_cars.columns:
    if col not in ['source_dataset', 'car_id']:
        missing = merged_new_cars[col].isna().sum()
        if missing > 0:
            percentage = (missing / len(merged_new_cars)) * 100
            print(f"  â€¢ {col:20} â†’ {missing:5} missing ({percentage:5.1f}%)")

print("\nðŸ”„ Smart filling for same brand+model...")

# First, let's handle the easy cases with simple forward fill within groups
for col in ['fuel_type', 'transmission', 'body_type', 'seating_capacity']:
    if col in merged_new_cars.columns:
        # Group by brand and model, then fill within each group
        merged_new_cars[col] = merged_new_cars.groupby(['brand', 'model'])[col].transform(
            lambda x: x.ffill().bfill() if not x.isna().all() else x
        )

print("\nðŸ“Š After simple group filling:")
for col in ['fuel_type', 'transmission', 'body_type', 'seating_capacity']:
    if col in merged_new_cars.columns:
        missing = merged_new_cars[col].isna().sum()
        percentage = (missing / len(merged_new_cars)) * 100
        print(f"  â€¢ {col:20} â†’ {missing:5} missing ({percentage:5.1f}%)")

print("\nðŸ”„ Filling remaining missing values with overall mode...")

# For remaining missing values, fill with the overall most common value
for col in ['fuel_type', 'transmission', 'body_type', 'seating_capacity']:
    if col in merged_new_cars.columns:
        # Get the most common value (mode)
        mode_value = merged_new_cars[col].mode()
        if not mode_value.empty:
            # Fill remaining NaN with the most common value
            merged_new_cars[col] = merged_new_cars[col].fillna(mode_value.iloc[0])
            print(f"  â€¢ {col:20} â†’ Filled with: {mode_value.iloc[0]}")

print("\nâœ… Missing values per column (after all filling):")
for col in merged_new_cars.columns:
    if col not in ['source_dataset', 'car_id']:
        missing = merged_new_cars[col].isna().sum()
        if missing > 0:
            percentage = (missing / len(merged_new_cars)) * 100
            print(f"  â€¢ {col:20} â†’ {missing:5} missing ({percentage:5.1f}%)")
        else:
            print(f"  â€¢ {col:20} â†’ COMPLETE! (0 missing)")

ðŸ” HANDLING MISSING VALUES
============================================================
Missing values per column (before):
  â€¢ brand                â†’     3 missing (  0.1%)
  â€¢ model                â†’     3 missing (  0.1%)
  â€¢ price                â†’  2519 missing ( 97.8%)
  â€¢ engine_cc            â†’  1333 missing ( 51.8%)
  â€¢ mileage_kmpl         â†’   601 missing ( 23.3%)
  â€¢ variant              â†’     3 missing (  0.1%)

ðŸ”„ Smart filling for same brand+model...

ðŸ“Š After simple group filling:
  â€¢ fuel_type            â†’     6 missing (  0.2%)
  â€¢ transmission         â†’     6 missing (  0.2%)
  â€¢ body_type            â†’     6 missing (  0.2%)
  â€¢ seating_capacity     â†’     6 missing (  0.2%)

ðŸ”„ Filling remaining missing values with overall mode...
  â€¢ fuel_type            â†’ Filled with: Petrol
  â€¢ transmission         â†’ Filled with: Manual - 5 Gears
  â€¢ body_type            â†’ Filled with: SUV
  â€¢ seating_capacity     â†’ Filled with: 5.0

âœ… Missing values per column (after all filling):
  â€¢ brand                â†’     3 missing (  0.1%)
  â€¢ model                â†’     3 missing (  0.1%)
  â€¢ price                â†’  2519 missing ( 97.8%)
  â€¢ fuel_type            â†’ COMPLETE! (0 missing)
  â€¢ engine_cc            â†’  1333 missing ( 51.8%)
  â€¢ transmission         â†’ COMPLETE! (0 missing)
  â€¢ mileage_kmpl         â†’   601 missing ( 23.3%)
  â€¢ body_type            â†’ COMPLETE! (0 missing)
  â€¢ seating_capacity     â†’ COMPLETE! (0 missing)
  â€¢ variant              â†’     3 missing (  0.1%)

In [56]:
print("ðŸ”§ ADDITIONAL DATA CLEANING")
print("="*60)

# 1. Drop model_year if it's mostly empty
if 'model_year' in merged_new_cars.columns:
    missing_percentage = (merged_new_cars['model_year'].isna().sum() / len(merged_new_cars)) * 100
    if missing_percentage > 90:
        print(f"âš ï¸ Dropping 'model_year' column ({missing_percentage:.1f}% missing)")
        merged_new_cars = merged_new_cars.drop(columns=['model_year'])
    else:
        # Fill with a default year
        merged_new_cars['model_year'] = merged_new_cars['model_year'].fillna(2023)

# 2. Ensure price is numeric
if 'price' in merged_new_cars.columns:
    print("\nðŸ’° Cleaning price column...")
    # Convert to numeric, coerce errors
    merged_new_cars['price'] = pd.to_numeric(merged_new_cars['price'], errors='coerce')
    print(f"  â€¢ Non-numeric price values found: {(merged_new_cars['price'].isna().sum())}")

# 3. Fill variant with model name if missing
if 'variant' in merged_new_cars.columns and 'model' in merged_new_cars.columns:
    merged_new_cars['variant'] = merged_new_cars.apply(
        lambda row: row['model'] if pd.isna(row['variant']) else row['variant'],
        axis=1
    )
    print(f"  â€¢ Variant column now complete!")

# 4. Standardize fuel_type values
if 'fuel_type' in merged_new_cars.columns:
    print("\nâ›½ Standardizing fuel types...")
    fuel_mapping = {
        'petrol': 'Petrol',
        'diesel': 'Diesel',
        'electric': 'Electric',
        'hybrid': 'Hybrid',
        'cng': 'CNG'
    }
    
    def clean_fuel_type(val):
        if pd.isna(val):
            return val
        val_lower = str(val).lower().strip()
        for key, clean_val in fuel_mapping.items():
            if key in val_lower:
                return clean_val
        return str(val).strip()
    
    merged_new_cars['fuel_type'] = merged_new_cars['fuel_type'].apply(clean_fuel_type)
    print(f"  â€¢ Unique fuel types: {merged_new_cars['fuel_type'].nunique()}")

print("\nâœ… Additional cleaning complete!")

ðŸ”§ ADDITIONAL DATA CLEANING
============================================================

ðŸ’° Cleaning price column...
  â€¢ Non-numeric price values found: 2519
  â€¢ Variant column now complete!

â›½ Standardizing fuel types...
  â€¢ Unique fuel types: 5

âœ… Additional cleaning complete!

In [58]:
print("âœ… VERIFICATION AND SAMPLES")
print("="*60)

# Load back to verify
verify_df = pd.read_csv(output_path)
print(f"Verified load: {verify_df.shape[0]} rows, {verify_df.shape[1]} columns")

print("\nðŸ” SAMPLE FROM EACH BRAND:")
top_brands = verify_df['brand'].value_counts().head(5).index.tolist()

for brand in top_brands:
    brand_cars = verify_df[verify_df['brand'] == brand].head(2)
    print(f"\nðŸ·ï¸ {brand} ({len(verify_df[verify_df['brand'] == brand])} cars):")
    for _, car in brand_cars.iterrows():
        price_str = f"â‚¹{car['price']:.1f}L" if pd.notna(car.get('price')) else "Price N/A"
        fuel_str = f" - {car['fuel_type']}" if pd.notna(car.get('fuel_type')) else ""
        trans_str = f" - {car['transmission']}" if pd.notna(car.get('transmission')) else ""
        print(f"  â€¢ {car['model']} - {price_str}{fuel_str}{trans_str}")

print("\n" + "="*60)
print("ðŸŽ¯ YOUR INTELLIGENT CUSTOMER ADVISOR IS READY!")
print("Use 'final_new_cars_master.csv' as your database")
print("\nðŸ“ File saved at: " + output_path)

âœ… VERIFICATION AND SAMPLES
============================================================
Verified load: 2575 rows, 12 columns

ðŸ” SAMPLE FROM EACH BRAND:

ðŸ·ï¸ tata-cars (176 cars):
  â€¢ Tata Curvv - Price N/A - Petrol - Manual - 6 Gears, Sport Mode
  â€¢ Tata Curvv - Price N/A - Petrol - Manual - 6 Gears, Sport Mode

ðŸ·ï¸ Maruti Suzuki (155 cars):
  â€¢ Dzire - â‚¹3430000.0L - Petrol - Manual
  â€¢ Ertiga - â‚¹940000.0L - Electric - Automatic

ðŸ·ï¸ maruti-suzuki-cars (151 cars):
  â€¢ Maruti Fronx - Price N/A - Petrol - Manual - 5 Gears
  â€¢ Maruti Fronx - Price N/A - Petrol - Manual - 5 Gears

ðŸ·ï¸ Hyundai (131 cars):
  â€¢ Verna - â‚¹1730000.0L - Diesel - Automatic
  â€¢ i10 - â‚¹2830000.0L - Petrol - Automatic

ðŸ·ï¸ Mahindra (115 cars):
  â€¢ Scorpio - â‚¹1280000.0L - Diesel - Manual
  â€¢ XUV700 - â‚¹1470000.0L - Electric - Automatic

============================================================
ðŸŽ¯ YOUR INTELLIGENT CUSTOMER ADVISOR IS READY!
Use 'final_new_cars_master.csv' as your database

ðŸ“ File saved at: ../output/final_new_cars_master.csv